### Read in Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_with_ids_train = pd.read_csv('5_Features_with_ID_90_Percent_Disinclude_IDs.csv')
df_with_ids_test = pd.read_csv('5_Features_with_ID_90_Percent_Disinclude_IDs_TEST.csv')
df_with_test_or_train = pd.read_csv('GMM_DT_5_Features_DisincludeIDs.csv')
df_exclude = [
    'MC_singlenuc23_8_Tk33_031720__0001_vid__2488',
    'MC_singlenuc24_4_Tk47_030320__0002_vid__3426',
    'MC_singlenuc35_11_Tk61_051220__0002_vid__1635',
    'MC_singlenuc35_11_Tk61_051220__0002_vid__3257',
    'MC_singlenuc35_11_Tk61_051220__0002_vid__45',
    'MC_singlenuc35_11_Tk61_051220__0002_vid__622',
    'MC_singlenuc41_2_Tk9_030920__0001_vid__5076',
    'MC_singlenuc43_11_Tk41_060220__0001_vid__296',
    'MC_singlenuc45_7_Tk47_050720__0002_vid__2524',
    'MC_singlenuc55_2_Tk47_051220__0001_vid__1093',
    'MC_singlenuc59_4_Tk61_060220__0001_vid__3510',
    'MC_singlenuc59_4_Tk61_060220__0001_vid__5827',
    'MC_singlenuc76_3_Tk47_072920__0001_vid__1007',
    'MC_singlenuc96_b1_Tk41_081120__0001_vid__6696',
    'MC_singlenuc96_b1_Tk41_081120__0001_vid__8437',
    'MC_singlenuc96_b1_Tk41_081120__0001_vid__8641',
    'MC_singlenuc96_b1_Tk41_081120__0001_vid__8792',
    'MC_singlenuc96_b1_Tk41_081120__0001_vid__8893'
]
df_exclude = pd.DataFrame(df_exclude, columns=['ID'])

In [3]:
print(df_with_ids_train.tail())

        speed  outreach_ratio  mean_acceleration  distance_traveled  cluster  \
582  4.469454        0.203392           0.302483        2615.042270        5
583  6.848159        0.132124           0.575422        9637.132413        1
584  3.656903        0.747736           0.223323        1204.035349        5
585  5.095371        0.219034           0.498550        5763.261859        8
586  3.889388        0.408020           0.327125        2084.076719        5

     is_male                                             id
582        0     MC_singlenuc24_4_Tk47_030320__0002_vid__97
583        1   MC_singlenuc34_3_Tk43_030320__0001_vid__3921
584        0   MC_singlenuc45_7_Tk47_050720__0002_vid__2593
585        1    MC_singlenuc65_4_Tk9_072920__0002_vid__2299
586        0  MC_singlenuc34_3_Tk43_030320__0001_vid__14814

In [4]:
df_with_ids_test.rename(columns={'predicted_clusters': 'cluster'}, inplace=True)
print(df_with_ids_test.tail())

                                              id     speed  outreach_ratio  \
61   MC_singlenuc56_2_Tk65_051220__0003_vid__416  2.592307        0.232560
62  MC_singlenuc55_2_Tk47_051220__0001_vid__2620  2.101094        0.073558
63   MC_singlenuc41_2_Tk9_030920__0001_vid__4852  1.670250        0.182483
64   MC_singlenuc23_8_Tk33_031720__0001_vid__494  3.275614        0.232256
65  MC_singlenuc28_1_Tk3_022520__0003_vid__23531  1.713950        0.082322

    mean_acceleration  distance_traveled  is_male  cluster
61           0.218279        5159.751257        0        4
62           0.230155        6403.468278        1        4
63           0.151172        5081.713539        0        4
64           0.340647        2869.981473        0        0
65           0.182981        4707.349631        0        4

In [5]:
df_with_ids_train['is_test'] = 0
df_with_ids_test['is_test'] = 1
combined_df = pd.concat([df_with_ids_train, df_with_ids_test], ignore_index=True)
combined_df = combined_df[['is_male', 'id', 'is_test']]
print(combined_df.tail())

     is_male                                            id  is_test
648        0   MC_singlenuc56_2_Tk65_051220__0003_vid__416        1
649        1  MC_singlenuc55_2_Tk47_051220__0001_vid__2620        1
650        0   MC_singlenuc41_2_Tk9_030920__0001_vid__4852        1
651        0   MC_singlenuc23_8_Tk33_031720__0001_vid__494        1
652        0  MC_singlenuc28_1_Tk3_022520__0003_vid__23531        1

In [8]:
df_with_test_or_train.rename(columns={'is_test': 'is_test_2'}, inplace=True)
df_with_test_or_train = df_with_test_or_train[['actual', 'is_test_2']]
print(df_with_test_or_train.tail())

     actual  is_test_2
648       0        1.0
649       1        1.0
650       0        1.0
651       0        1.0
652       0        1.0

C:\Users\kaiwi\AppData\Local\Temp\ipykernel_29676\344735842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_test_or_train.rename(columns={'is_test': 'is_test_2'}, inplace=True)

### Combine

In [9]:
final_combined_df = pd.concat([combined_df, df_with_test_or_train], axis=1)
print(final_combined_df)

     is_male                                              id  is_test  actual  \
0          0    MC_singlenuc91_b1_Tk9_081120__0001_vid__2594        0       0
1          0   MC_singlenuc96_b1_Tk41_081120__0001_vid__1490        0       0
2          1    MC_singlenuc59_4_Tk61_060220__0001_vid__6081        0       1
3          1     MC_singlenuc36_2_Tk3_030320__0001_vid__6367        0       1
4          0  MC_singlenuc94_b1_Tk31_081120__0001_vid__13436        0       0
..       ...                                             ...      ...     ...
648        0     MC_singlenuc56_2_Tk65_051220__0003_vid__416        1       0
649        1    MC_singlenuc55_2_Tk47_051220__0001_vid__2620        1       1
650        0     MC_singlenuc41_2_Tk9_030920__0001_vid__4852        1       0
651        0     MC_singlenuc23_8_Tk33_031720__0001_vid__494        1       0
652        0    MC_singlenuc28_1_Tk3_022520__0003_vid__23531        1       0

     is_test_2
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
648        1.0
649        1.0
650        1.0
651        1.0
652        1.0

[653 rows x 5 columns]

In [10]:
consistent_rows = final_combined_df.apply(lambda row: row['is_male'] == row['actual'], axis=1)
all_rows_consistent = consistent_rows.all()
print(f"All rows have the same value for 'is_male' and 'actual': {all_rows_consistent}")

All rows have the same value for 'is_male' and 'actual': True

In [11]:
consistent_rows = final_combined_df.apply(lambda row: row['is_test'] == row['is_test_2'], axis=1)
all_rows_consistent = consistent_rows.all()
print(f"All rows have the same value for 'is_test' and 'is_test_2': {all_rows_consistent}")

All rows have the same value for 'is_test' and 'is_test_2': True

In [14]:
final_combined_df = final_combined_df[['id', 'is_test']]
print(final_combined_df)

                                                 id  is_test
0      MC_singlenuc91_b1_Tk9_081120__0001_vid__2594        0
1     MC_singlenuc96_b1_Tk41_081120__0001_vid__1490        0
2      MC_singlenuc59_4_Tk61_060220__0001_vid__6081        0
3       MC_singlenuc36_2_Tk3_030320__0001_vid__6367        0
4    MC_singlenuc94_b1_Tk31_081120__0001_vid__13436        0
..                                              ...      ...
648     MC_singlenuc56_2_Tk65_051220__0003_vid__416        1
649    MC_singlenuc55_2_Tk47_051220__0001_vid__2620        1
650     MC_singlenuc41_2_Tk9_030920__0001_vid__4852        1
651     MC_singlenuc23_8_Tk33_031720__0001_vid__494        1
652    MC_singlenuc28_1_Tk3_022520__0003_vid__23531        1

[653 rows x 2 columns]

In [16]:
final_combined_df['type'] = final_combined_df['is_test'].map({0: 'train', 1: 'validation'})
final_combined_df = final_combined_df[['id', 'type']]
print(final_combined_df)

                                                 id        type
0      MC_singlenuc91_b1_Tk9_081120__0001_vid__2594       train
1     MC_singlenuc96_b1_Tk41_081120__0001_vid__1490       train
2      MC_singlenuc59_4_Tk61_060220__0001_vid__6081       train
3       MC_singlenuc36_2_Tk3_030320__0001_vid__6367       train
4    MC_singlenuc94_b1_Tk31_081120__0001_vid__13436       train
..                                              ...         ...
648     MC_singlenuc56_2_Tk65_051220__0003_vid__416  validation
649    MC_singlenuc55_2_Tk47_051220__0001_vid__2620  validation
650     MC_singlenuc41_2_Tk9_030920__0001_vid__4852  validation
651     MC_singlenuc23_8_Tk33_031720__0001_vid__494  validation
652    MC_singlenuc28_1_Tk3_022520__0003_vid__23531  validation

[653 rows x 2 columns]

In [17]:
df_exclude.rename(columns={'ID': 'id'}, inplace=True)
df_exclude['type'] = 'excluded'
print(df_exclude.tail())

                                               id      type
13  MC_singlenuc96_b1_Tk41_081120__0001_vid__6696  excluded
14  MC_singlenuc96_b1_Tk41_081120__0001_vid__8437  excluded
15  MC_singlenuc96_b1_Tk41_081120__0001_vid__8641  excluded
16  MC_singlenuc96_b1_Tk41_081120__0001_vid__8792  excluded
17  MC_singlenuc96_b1_Tk41_081120__0001_vid__8893  excluded

In [21]:
final_df = pd.concat([final_combined_df, df_exclude], ignore_index=True)
print(final_df)

                                                 id      type
0      MC_singlenuc91_b1_Tk9_081120__0001_vid__2594     train
1     MC_singlenuc96_b1_Tk41_081120__0001_vid__1490     train
2      MC_singlenuc59_4_Tk61_060220__0001_vid__6081     train
3       MC_singlenuc36_2_Tk3_030320__0001_vid__6367     train
4    MC_singlenuc94_b1_Tk31_081120__0001_vid__13436     train
..                                              ...       ...
666   MC_singlenuc96_b1_Tk41_081120__0001_vid__6696  excluded
667   MC_singlenuc96_b1_Tk41_081120__0001_vid__8437  excluded
668   MC_singlenuc96_b1_Tk41_081120__0001_vid__8641  excluded
669   MC_singlenuc96_b1_Tk41_081120__0001_vid__8792  excluded
670   MC_singlenuc96_b1_Tk41_081120__0001_vid__8893  excluded

[671 rows x 2 columns]

In [22]:
unique_ids = final_combined_df['id'].is_unique
if unique_ids:
    print("All IDs in the 'id' column are unique.")
else:
    print("There are duplicate IDs in the 'id' column.")

All IDs in the 'id' column are unique.

In [23]:
final_df.to_csv('track_types.csv', index=False)